# Balirwa Alvin Daniel
## M24B13/026
### B27432

In [1]:
#Importing libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [17]:
#Importing dataset
df = diamonds=pd.read_excel("diamonds_new.xlsx")

In [22]:
# Displaying basic information
df.info()

# Display summary statistics
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53920 entries, 0 to 53919
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    53920 non-null  int64
 1   carat    53920 non-null  float64
 2   cut      53920 non-null  object
 3   color    53920 non-null  object
 4   clarity  53920 non-null  object
 5   depth    53920 non-null  float64
 6   table    53920 non-null  float64
 7   x        53920 non-null  float64
 8   y        53920 non-null  float64
 9   z        53920 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

,price,carat,depth,table,x,y,z
count,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000
mean,3933.492174,0.798018,61.749560,57.456769,5.731337,5.734703,3.538854
std,3989.963677,0.474061,1.432414,2.233927,1.121807,1.142192,0.705736
min,326.000000,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000
25%,950.000000,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000
50%,2401.000000,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000
75%,5327.000000,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000
max,18823.000000,5.010000,79.000000,95.000000,10.740000,58.900000,31.800000

In [24]:

# Filtering "Premium" diamonds
premium_diamonds = df[df['cut'] == 'Premium']

# Calculate the average price
average_price = premium_diamonds['price'].mean()
print(f'The average price of "Premium" diamonds is: {average_price}')

The average price of "Premium" diamonds is: 4584.697657553122